<div class="actor-container">

  <div class="actor-container__buttons-container">
    <button
      mat-raised-button
      color="primary"
      [disabled]="disabledActions"
      (click)="getActors()"
      >
      <mat-icon matPrefix>refresh</mat-icon>
      Refresh
    </button>

    <button
      mat-stroked-button
      color="accent"
      [disabled]="disabledActions"
      (click)="onDrawBarChart()"
    >
      Bar chart
    </button>
    <button
      mat-stroked-button
      color="accent"
      [disabled]="disabledActions"
      (click)="onDrawPieChart()"
    >
      Pie chart
    </button>
  </div>
  <div *ngIf="actorsList.length > 0">
    <app-actors-charts [actorsList]="actorsList"></app-actors-charts>
  </div>
</div>