.toolbar {
  background-color: transparent;
}

.color-change-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  width: 100%;
}

.theme-mode-icon--active {
  color: var(--color-accent);
}

.theme-mode-icon--inactive {
  color: gray;
}