<div class="movies-container">
  
  <div class="filters-container">

    <mat-form-field
      [color]="isDarkMode? 'accent' : 'primary'"
      appearance="outline"
      class="filters-container__selector"
    >
      <mat-label>Sort by</mat-label>
      <mat-select [(ngModel)]="selectedSortType" name="sortBy">
        <mat-option *ngFor="let sortBy of sortByTypes" [value]="sortBy.value">
          {{sortBy.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      [color]="isDarkMode? 'accent' : 'primary'"
      appearance="outline"
      class="filters-container__selector"
    >
      <mat-label>Select genre</mat-label>
      <mat-select [(ngModel)]="selectedGenres" name="genre" multiple>
        <mat-option *ngFor="let genre of genresList" [value]="genre.id">
          {{genre.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      [color]="isDarkMode? 'accent' : 'primary'"
      appearance="outline"
      class="filters-container__selector"
    >
      <mat-label>Release year</mat-label>
      <mat-select [(ngModel)]="selectedYear" name="year">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="filters-container__button"
      (click)="onSearch()"
    >
      <mat-icon matPrefix>search</mat-icon>
      Search
    </button>
  </div>
  

  <div class="movies-cards-container">
    <ng-container *ngFor="let movie of moviesList">
      <app-movie-card [movie]="movie"></app-movie-card>
    </ng-container>
  </div>

  <div class="paginator-container">
    <ng-container *ngFor="let paginationItem of paginationItems">
      <button
        class="paginator-container__button"
        mat-stroked-button
        [disabled]="paginationItem.disabled"
        [matTooltip]="paginationItem.tooltip"
        [matTooltipPosition]="'above'"
        (click)="onPaginate(paginationItem.action)"
      >
      <span class="navigation-button-icon">
        <mat-icon>{{paginationItem.icon}}</mat-icon>
      </span>
    </button>
    </ng-container>

    <br>
    <span class="paginator-container__info">
      Page {{currentPage}} of {{totalPages}}
    </span>
  </div>

</div>