<div class="movies-container">
  <p>movies works!</p>

  <div class="movies-cards-container">
    <ng-container *ngFor="let movie of moviesList">
      <app-movie-card [movie]="movie"></app-movie-card>
    </ng-container>
  </div>

  <div class="paginator-container">
    <ng-container *ngFor="let paginationItem of paginationItems">
      <button
        class="paginator-container__button"
        mat-stroked-button
        [disabled]="paginationItem.disabled"
        [matTooltip]="paginationItem.tooltip"
        [matTooltipPosition]="'above'"
        (click)="onPaginate(paginationItem.action)"
      >
      <span class="navigation-button-icon">
        <mat-icon>{{paginationItem.icon}}</mat-icon>
      </span>
    </button>
    </ng-container>

    <br>
    <span class="paginator-container__info">
      Page {{currentPage}} of {{totalPages}}
    </span>
  </div>

</div>